h4{
	font-family: "Owald";
	font-weight: bold;
}
.titulo-col{
	font-size: 3em;
    font-weight: bold;
    margin-top: 6%;
}
.ultimo-col{
	font-family: "Oswald";
	font-size: 2em;
	color: #333;
	margin-bottom: 4%;
}
.box-col-image{
  border: 2px solid #efefef;
  padding: 5% 3%;
 margin-bottom: 9%;
}
.div-gray-rodrich{
 background-color: #efefef;
 padding: 5% 10% 10% 5%;
 
}
.box-col-image h4{
 font-size: 1em;
}
.hover-col a:hover{
	color: #23527;
    text-decoration: underline;
}
.img-rodrich{
 border: 5px solid white;
 float: left;
 margin: 1%;
}
.boton1 {
  width: 18%;
  text-align: center;
  background-color: #c00101;
  border-radius: 5px;
  padding: 1%;
  box-sizing: border-box;
  margin: 0 auto!important;
   
}:white;
.row .boton a:hover{
	color:white;
}

/*columnistas en orden alfabético*/

header{
	width: 100%
	overflow:hidden;
	background:#c00101;
	margin-bottom:20px;
}
.wrapper {
	width:90%;
	max-width: 1000px;
	margin:auto;
	overflow:hidden;
}

header nav a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 1em;	
}
.wrapper .nav-alfa a:hover{
	background:#eb4949;
	border-radius: 18px;
    color: white;
}
.img-rodrich2{
	border: 5px solid white;
 	float: left;
 	margin: 0%;
}
#text-rodrich{
	margin-left: 2%;
	font-size: 1em;
}
.text-bold {
	color: #828596;
}
.div-gray-rodrich2 {
    background-color: #efefef;
    padding: 5% 10% 10% 5%;
    margin-bottom: 4%;
}
@media (max-width : 800px){
  
  .boton1 {
    width:50%;
    margin:0 auto;
 }
	.boton{
		position: relative;
	}
}