@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
body {
  font-family: "PT Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }
.bg-gray{
    background-color: #F5F5F5;
}

/* PUBLICIDAD SUPERIOR */
.publicidad {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 1%;
}

/* SECCION ENLACES EXTERNOS */

.btn-suscribete{
    padding: 1px;
    font-size: 12px;
}
.enlaces a{
    font-size: 12px;
    color: gray;
}
.redes-basic a{
    margin-left: 3%;
}
.nav-icons{
    padding: 0.5%;
}
.nav-icons a{
    padding-left: 2%;
}
.redes-basic {
	display: inline;
	font-size: 1.1em;
}
.twitter-basic {
	color: #00ACED;
}

.google-basic {
	color: #E75A4D;
}
.fb-basic {
	color: #3B5998;
}
.youtube {
	color: #C00101;
	font-size: 18px;
}
.mensaje{
	color: #FFBA08;
}
.rss{
	color:#DA562C;
}
/* BUSCADOR */
.form-control{
    width: 100px;
}
/* SECCION DE NAVEGACION */
.logo{
    padding-top: 10%;
}
fieldset {
    border: 1px solid #ddd;
    border-bottom: 4px solid #C00101;
}

fieldset legend {
    background: red;
    color: #fff;
    width: auto;
}

legend {
    display: block;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: inherit;
    color: #333;
    border: 0;
    text-align: center;
}
.field-editorial{
    position: relative;
    border: 1px solid #ddd;
    height: 60px;
}
.autor img{
	position: absolute;
	right:0;
	top:-30%;
	
}
.cien {
  width: 100%; }

.mt-2 {
  margin-top: 2%; }

.mt-5 {
  margin-top: 5%; }

#menu-principal .navbar {
  font-size: 12px;
  min-height: 40px; }
#menu-principal .nav li a {
  padding: 10px 12px;
  margin-bottom: -10px;
  border-right: 1px solid #890505; }
  #menu-principal .nav li a:not(:last-child) {
    border-right: none; }
#menu-principal .navbar-inverse {
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, #E70505 0%, #D40808 100%); }
  #menu-principal .navbar-inverse .active a {
    background-color: #910606 !important;
    background-image: none; }
  #menu-principal .navbar-inverse .dropdown-menu {
    background-image: linear-gradient(to bottom, #E70505 0%, #D40808 100%);
    font-size: 12px; }
    #menu-principal .navbar-inverse .dropdown-menu li a {
      color: white; }
      #menu-principal .navbar-inverse .dropdown-menu li a:hover {
        background-color: #E70505 !important; }
    #menu-principal .navbar-inverse .dropdown-menu .divider {
      background-color: #680303; }
  #menu-principal .navbar-inverse .navbar-nav > li > a:hover, #menu-principal .navbar-inverse .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #C11516 !important; }
  #menu-principal .navbar-inverse .dropdown-menu li a:hover {
    background-color: #C11516 !important;
    background-image: none; }
  #menu-principal .navbar-inverse .dropdown:hover, #menu-principal .navbar-inverse .dropdown:focus, #menu-principal .navbar-inverse .dropdown:active, #menu-principal .navbar-inverse .dropdown:visited {
    background-color: #C11516 !important; }

/*segundo menu*/
.navbar-brand {
  background-color: black !important;
  color: white !important; }

.menu2 li {
  display: inline-block;
  float: right;
  color: black;
  margin: 15px 9px 0; }

/*footers*/
footer{
    background-color: #d4d4d4;
    padding: 4% 0;
}
footer a{
	color: #1f1f1f;
}
.footer-nav{
    text-align: center;
    padding-top: 3%;
    font-size: 0.9em;
}
.logo-footer{
    padding-top: 30%;
}
footer div div .col-md-2{
    font-size: 0.9em;
}