@import 'https://fonts.googleapis.com/css?family=Oswald';

/*Primera sección de noticias*/
body {
	font-family:'PT Sans';
}
.primera-seccion h1 a {
	font-size: 1.3em;
	font-weight: bold;
	color: black;
	display: inline-block;
}
.fb, .twitter, .google {
	width: 26px;
	padding: 1%;
	text-align: center;
}
.twitter {
	background-color: #F1F1F1;
	color: #00ACED;
	border-radius: 5px;
	border-bottom: 3px solid #00ACED;
	padding: 5px;
}

.google {
	background-color: #F1F1F1;
	color: #E75A4D;
	border-radius: 5px;
	border-bottom: 3px solid #E75A4D;
	padding: 5px;
}
.fb {
	background-color: #F1F1F1;
	color: #3B5998;
	border-radius: 5px;
	border-bottom: 3px solid #3B5998;
	padding: 5px 7px;
}

.redes span {
	margin-right: 3%;
	color: #929292;
}

.redes p, .redes a {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	color: #929292;
}


.icon:hover {
	background-color: rgba(0,172,237,.2);
}

/*Noticias*/

.noticia-principal {
	background-image: url(../image/img_grid_principal.jpg);
	background-size: 95%;
	background-repeat: no-repeat;
	height:auto;
}

.imagen {
	width: 100%;
}

.texto {
	position: absolute;
	bottom: 0%;
	padding: 2% 4%;
	background: linear-gradient( 0deg, #000, transparent);
	box-sizing: border-box;
	width: 95%;
}

.texto h2 {
	line-height: 1.2em;
	font-size: 2.79em;
	font-weight: bold;
	text-shadow: 2px 3px rgba(0,0,0,1);
}

.texto .redes a, .texto .redes p, .texto .redes span{
	color: white;
}

.sg-col {
	bottom: 53%;
}

.tc-col {
	bottom: 3%;
}

.sg-col, .tc-col {
	font-size: 0.6em;
}
.texto h2 a{
    color:white;
}
.texto h2 a:hover {
	color: #4078C0;
	text-decoration: underline;
}
/*Columnistas*/
.columnistas{
    border-top: 4px solid #ba1414;
    margin-top: 30px;
    text-align: center;
    position: relative;
    background-color: gainsboro;
}
.columnistas div div h3{
    background-color: #ba1414;
    display: inline-block;
    color: white;
    padding:1%;
    font-family: "Oswald";
    font-size: 1.6em;
    position: relative;
    top: -35px;
}
.columnistas-principal img{
    border: 5px solid white;
}
.columnistas-principal p{
    font-size: 0.8em;
    margin: 10% 0;
}
.columnistas-principal h6{
    font-size: 0.9em;
}
.columnistas .row .col-md-3{
    padding: 0 !important;
}
/*seccion de noticias 2*/
.div-seccion-2{
    border: 1px solid #D4D4D4;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: 4% 0;
}
.div-seccion-2 div img{
    width: 100%;
    height: auto;
    text-align: left;
}
.div-seccion-2 p{
    padding: 4% 0;
    margin: 0;
}
.div-seccion-2>h4{
    color: #9C0000;
    padding: 2% 0;
}
.sombra-futbolistas{
    position: relative;
    color: white !important;
    text-shadow: 2px 2px black;
    text-align: left;
}
.sombra-futbolistas div{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(transparent, black);
    background: -moz-linear-gradient(transparent, black);
    background: -o-linear-gradient(transparent, black);
    position: absolute;
    top: 0;
}
.sombra-futbolistas h4{
    position: absolute;
    bottom: 0;
    margin: 0 0 3% 5%;
}
.publicidad-futbolistas{
    margin: 4% 0;
    width: 96%;
}
/*Ultimas Noticias*/
.titulo-ultimas-noticias {
	color: #768596;
	font-family: Oswald;
}
.emma {
	width: 100%;
	height: 120px;
}
.ultimas-noticias {
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid gray;
}
.emma-watson{
	color: black;
	padding-left: 2%;
	font-family: PT Sans;
	font-weight: bold;
}
.emma-watson:hover {
	color: black;
}
.span-emma span{
	color: #929292;
	font-size: 1.5em;
	font-style: bold;
}
.span-emma{
	margin-right: 3%;
	color: #929292;
	font-size: 0.8em;
	padding-left: 2%;
}
.iconos p, .iconos a {
	display: inline-block;
	font-size: 0.8em;
	margin-right: 8px;
	color: #929292;
}
/*SUSCRIBIRSE*/
.formulario-para-suscribirse {
	background-image: url(../image/archive-sidebar-bg.jpg);
	width: 100%;
	height: 280px;
	padding-top: 18%;
	position: relative;
	margin-top: 10%;
}
.formulario {
	width: 90%;
	height: 200px;
	background-color: #FFFFFF;
}
.imagen-suscribe {
	position: absolute;
	top: 9%;
	left: 40%;
}
.suscribete {
	width: 80%;
	padding-top: 20%;
}
.suscribete p {
	text-align: center;
	font-size: 133%;
}
/*Seccion aweita*/
.aweita {
	border:1px solid #CCCCCC;
	padding:7% 7% 15% 7%;
	height:auto;
	position:relative;
	margin-top:8%;
}
.width p {
	width:100%;
}
.logo-aweita {
	padding-bottom:13%;
}
.img-aweita {
	border:4px solid gray;
}
.aweita p:hover{
	text-decoration:underline;
}
.inf-aweita {
	border-bottom:6px solid purple;
	width:40%;
	position:absolute;
	bottom:0;
	left:113px;
}
.inf-aweita a{
	color: purple;
}
.center-diarios {
	text-align:center;
}
/*Seccion Libero*/
.libero {
	border:1px solid #CCCCCC;
	padding:7% 7% 15% 7%;
	height:auto;
	position:relative;
	margin-top:8%;
}
.width p {
	width:100%;
}
.logo-libero {
	padding-bottom:13%;
}

.img-libero {
	border:4px solid gray;
}
.libero p:hover{
	text-decoration:underline;
}
.inf-libero {
	border-bottom:6px solid #D40001;
	width:40%;
	position:absolute;
	bottom:0;
	left:113px;
}
.inf-libero a{
	color:#D40001;
}
/*Seccion El Popular*/
.popular {
	border:1px solid #CCCCCC;
	padding:7% 7% 15% 7%;
	height:auto;
	position:relative;
	margin-top:8%;
}
.width p {
	width:100%;
}
.logo-popular {
	padding-bottom:13%;
}
.img-popular {
	border:4px solid gray;
}
.popular p:hover{
	text-decoration:underline;
}
.inf-popular {
	border-bottom:6px solid #FFEA53;
	width:40%;
	position:absolute;
	bottom:0;
	left:113px;
}
.inf-popular a{
	color:#D40001;
}
/*Seccion Wapa*/
.wapa {
	border:1px solid #CCCCCC;
	padding:7% 7% 15% 7%;
	height:auto;
	position:relative;
	margin-top:8%;
}
.width p {
	width:100%;
}
.logo-wapa {
	padding-bottom:13%;
}
.img-wapa {
	border:4px solid gray;
}
.wapa p:hover{
	text-decoration:underline;
}
.inf-wapa {
	border-bottom:6px solid #D2186A;
	width:40%;
	position:absolute;
	bottom:0;
	left:113px;
}
.inf-wapa a {
	color:#D2186A;
}
/*Fotos destacadas*/
.img-dest {
	width:100%;
	border:2px solid gray;
}
.fotos-destacadas {
	padding-top:18%;
	margin-top:8%;
	margin-bottom:8%;
	border-top:0.4em solid gray;
	position:relative;
}
.tittle-dest {
	padding: 2%;
	position: absolute;
	background-color: gray;
	top: -10px;
	left:23%;
	font-size:1.5em;
	font-family: "Oswald";
	color: white;   
}
.destacado a {
	color:black;
}
.img-dest {
	border:4px solid gray;
	margin-bottom:4%;
}
/*Especiales*/
.especiales {
	border-top:0.4em solid gray;
	padding-top:15%;
	margin-top:8%;
	margin-bottom:8%;

}
.tittle-especiales{
	padding: 2%;
	width: 40%;
	position: relative;
	background-color: gray;
	top: -70px;
	left: 31%;
	font-size: 1.5em;
	font-family: "Oswald";
	color: white;
	text-align: center 
}
.bg-section-esp{
	background-image: url("../image/img_especiales_aside.jpg");
	background-size:100%;
	background-position:center;
	width:100%;
	height:180px;

}
.bg-section-esp{
	margin-bottom:5%;
	position:relative;
}
.white-especiales {
	position:absolute;
	bottom:3%;
	left:5%;
	background-color: rgba(255,255,255,0.6);
	width:90%;
	text-align:center;
	padding:2%;  
}
.white-especiales a{
	color:black;
	font-size:1.2em;
}

/*Carlincantura*/

.red {
	background-color: #CE1616;
}

.carlincatura {
	border-top: 6px solid #CE1616;
	border-bottom: 1px solid gray;
	position: relative;
	margin: 10% 0px;
}

.titulo {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	width: 60%;
	padding: 5px;
	margin-left: 20%;
	position: absolute;
	top: -7%;
	text-align: center;
}

.carlincatura h3 {
	font-weight: bold;
	padding-top: 5%;
}

.carlincatura a {
	font-size: 1.3em;
	color: black;
	display: inline-block;
	font-weight: bold;
	padding: 2%;
}

/*Nuestros BLogueros*/

.blogueros {
	border-top: 6px solid #517892;
	border-bottom: 1px solid gray;
	position: relative;
	margin-bottom: 15%;
	padding-top: 10%;
}

.blue {
	background-color: #517892;
}

.blogueros a {
	text-decoration: underline;
	color: black;
}

.blogueros h4 {
	font-weight: bold;
}

/*Pregunta del día*/

.pregunta-día {
	background-image: url(../image/trama_square.jpg);
	height: auto;
	padding: 11% 0px 5px;
	width: 100%;
	margin: 5% 0px;
	position: relative;
}

.absolute-img-pregunta {
	position: absolute;
	top: 2%;
	left: 40%;
}

.fondo-white-pregunta {
	width: 95%;
	margin: 0px auto 2% auto;
	height: auto;
	background: white;
	padding: 7% 5% 5% 5%;
	margin-bottom: 4%;
}

.fondo-white-pregunta h3 {
	font-weight: bold;
}

.fondo-white-pregunta p {
	font-size: 1.1em;
	padding-bottom: 2%;
}

.btn-enviar {
	width: 50%;
	padding: 2%;
	font-size: 1em;
	background-color: #c9302c;
	border-color: #c9302c;
	border-radius: 3px;
	margin: 2% 25%;
}

.fondo-white-pregunta .btn:hover {
	background-color: red;
	border-color: red;
}

.resultados-noticia-dia{
	display: block;
	text-align: center;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 3%;
}

.resultados-noticia-dia:hover {
	color: black;
	text-decoration: underline;
}

.fondo-white-pregunta h4 {
	font-weight: bold;
}

/*barra de información*/

.progress {
	height: 30px;
	border-radius: 0px;
	margin: 4.6% 0px;
}

.progress span {
	padding-top: 2%;
	display: inline-block;
}

.progress-bar {
	box-shadow: none;
	font-size: 1em;
	color: black;
	font-weight: bold;
}
.progress-bar-warning {
	background-color: #BDBDBD;
}

.progress-bar-lime {
	background-color: #CCFF99;
}

.progress-bar-red {
	background-color: #FF9999;
}

/*reportero*/

.absolute-reportero {
	position: absolute;
	top: -1%;
	left: 40%;
}

.mgl {
	margin-left: 8%;
}

.absolute-mascota {
	position: absolute;
	top: -1%;
	left: 40%;
}

.foto {
	width: 90%;
}

/*Infografia*/ 

.info {
	border-top: 6px solid #517892;
	border-bottom: 1px solid gray;
	position: relative;
	margin-bottom: 10%;
	padding-bottom: 5%;
}

.fondo-info {
	background-image: url(../image/img_especiales_aside.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	padding: 5%;
	margin-top: 7%;
	position: relative;
}

.overlay {
	background-color: rgba(255,255,255,.6);
	font-weight: bold;
	text-align: center;
	font-size: 1.3em;
	padding: 3%;
	position: absolute;
	bottom: 5%;
	width: 90%;
}

.pos-top {
	top: -5%;
}

/*Edición impresa*/

.edicion-impresa {
	border-top: 6px solid #CE1616;
	border-bottom: 1px solid gray;
	position: relative;
	margin-bottom: 20%;
	padding-top: 5%;
}

.edicion-impresa h3 {
	font-weight: bold;
}

.texto-edicion-impresa h4 {
	padding-top: 15%;
	font-weight: bold;
}

.texto-edicion-impresa h4 a{
	color: black;
	text-decoration: underline;
}

.top {
	top: -2%;
}