/*para desktop*/
@media (max-width: 1200px){
	/*primera seccion de noticia*/
	.sg-col, .tc-col {
		font-size: 0.8em;
	}
	.texto-primera-seccion {
		width: 94%;
	}
}

/*para tablets*/
@media (max-width: 991px){
	/*primera seccion de noticia*/
	.texto-primera-seccion {
		width: 92%;
		font-size: 0.65em;
	}

	/*preguntas del día*/

	.fondo-white-pregunta {
		float: left;
		width: 47%;
		margin: 3% 0px;
	}

	.responsive-tablet {
		margin-left: 3%;
	}

	.absolute-img-pregunta {
		left: 44%;
		top: 4%;
	}

	.pregunta-día {
		height: 400px;
		padding: 5% 1% 2%;
	}

	.responsive {
		width: 50%;
		height: 570px;
		float: left;
	}

	.fondo-white {
		width: 94%;
		margin: 3%;
	}

	.absolute-reportero {
    top: 3%;
    left: 40%;
  	}

  	.absolute-mascota {
    position: absolute;
    top: 3%;
    left: 25%;
	}
	/*blogueros y carlincaturas*/
	.blogueros, .carlincatura {
		border-bottom: none;
	}
}

/*para movil*/
@media (max-width: 767px) {
	/*primera seccion de noticia*/
	.texto-primera-seccion {
		width: 96%;
		font-size: 1.4em;
	}

	.tc-col {
		bottom: 0%;
	}

	.sg-col {
		bottom: 50%;
	}

	/*preguntas del día*/

	.fondo-white-pregunta {
		width: 90%;
		margin: 3% 5%;
	}

	.responsive-tablet {
		margin-left: 5%;
	}

	.absolute-img-pregunta {
		left: 45%;
		top: 2%;
	}
	.pregunta-día {
		height: 780px;
		padding: 5% 1% 2%;
	}

	.responsive {
		width: 100%;
		height: 850px;
	}

	.fondo-white {
		width: 94%;
		margin: 3%;
	}

	.absolute-reportero {
	    top: 3%;
	    left: 45%;
  	}

  	.absolute-mascota {
	    top: 3%;
	    left: 45%;
	}

	/*blogueros y carlincaturas*/
	
	.titulo {
		top: -3%;
	}
}