* {
	padding: 0px;
	margin: 0px;
	font-family: 'PT Sans', sans-serif;
}
/*Global
@font-face{
	font-family: slick;
	src: url(../fonts/slick.ttf);
}
@font-face{
	font-family:slick ;
	src: url(../fonts/slick.ttf);
}
@font-face{
	font-family:slick;
	src: url(../fonts/slick.ttf);
}*/

/* Shortcuts */

.pd-0{
	padding: 0;
}
.pd-3 {
	padding-top: 3%;
}

.pd-4 {
	padding-top: 4%;
}

.pb-4 {
	padding-bottom: 4%;
}

.mg-0{
	margin: 0;
}
.pt{
  padding-top: 0.5%;
}
.pt-2{
	padding-top: 2%;
}
.pt-5{
	padding-top: 5%;
}
.pt-10{
	padding-top: 10%;
}
.pl-5{
	padding-left: 5%;
}
.pl-10{
	padding-left: 10%;
}
.pl-15{
	padding-left: 15%;
}
.pr-5{
	padding-right: 5%;
}
.mb-4 {
	margin-bottom: 4%;
}
.pb-5{
	padding-bottom: 5%;
}
.pb-10{
	padding-bottom: 5%;
}
.mg-0{
	margin: 0;
}
.mg-5{
	margin:5%;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}
.text-blue{
	color: #27365B;;
}
.text-strong{
	font-width: 100px;
}

.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.inline-b{
	display: inline-block !important;
}
